* {
  box-sizing: border-box;
}

body {
  
  margin: 0;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Phones (up to 600px) */
@media (max-width: 600px) {
  
}

/* Tablets (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
   
}

/* Desktops (1025px and above) */
@media (min-width: 1025px) {
  
}